


/*Text----------------------------------*/

h1{
    font-family: itc-benguiat, serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 320px;
    height: 211px;
    color: #C82121;
}
h2{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 283px;
    color: #213130
    ;
}
.flex{
    width: 23%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    
}

.bg{
    background: url(/hw17-images/fog-tree1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*header----------------------------------*/

li{
    display: inline-block;
    justify-content: space-between;
    vertical-align: top;

    width: 23%;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-left: auto
}
.logo{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    background-color:#C82121;
    color: white;
}
h1{
    display: flex;
    justify-content: center;

}
h2{
    display: flex;
    justify-content: center;
}
/*hero----------------------------------*/

.hero-img{
    height: 600px;
    padding: 25px;
    width: 500px;
    margin: 0 auto;
}

/*footer----------------------------------*/

footer{
    display: flex;
    vertical-align: top;
    background-color: #C82121;
    color: white;


     
    
}
p{
    vertical-align: center;
    font-family: itc-benguiat, serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
.email{
    display: flex;
    vertical-align: middle;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

}
.fa{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    opacity: .7;

}
.fa-linkedin{
    background-color: #007bb5;
    color: white;
}
.copyright{
    display: flex;
    justify-content: center; 
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
}

